<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <link rel = 'stylesheet' href = '../../resources/css/project.css'>
    <div class = "container">
      <h2>Grocery List</h2>
      <% newGroceries.forEach(grocery => { %>
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= grocery %>
              <form style = "display: inline;">              
                <label class="checkbox-inline checkboxes">
                  <input type="checkbox" value="">
                </label>
              </form>
            </li>
          </ul>
        </div>
      <% }) %>
      <form action = "/groceries" method = "post">
        <input type = "text" name ="newGrocery">
        <button type = "submit" class = "btn btn-primary">Add Item</button>
      </form>
    </div>
  </main>

<%- include ('../partials/footer') %>