<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container" style="width: 600px; margin: 50 auto">
      <h2>Home Page Placeholder</h2>
    </div>
  </main>

<%- include ('../partials/footer') %>