<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
<<<<<<< HEAD
    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <div class="col"><%- include ('../partials/message') %></div>
      <form action="/login" method = "POST">
          <label for ="username">Username:</label><br>
          <input type ="text" id ="username" name="username" value =""><br>
          <label for ="password">Password:</label><br>
          <input type ="text" id="password" name ="password" value =""><br>
          <input type ="submit" value="Login"><br><br>
      </form>
    </div>
  </main>
  
=======
  <div class="container" style="width: 600px; margin: 50 auto">
    <form action="/login" method="post" style="margin-top:50px">
        <h2>Login</h2><br>
        <label for="username">Username </label>
        <input class="form-control" type="text" id="username" name="username"><br><br>
        <label for="password">Password </label>
        <input class="form-control" type="text" id="password" name="password"><br><br>
        <!-- <p>Don't have an account? <a href="/register">Register</a> -->
          <!-- FIX THIS LINE FOR REGISTER. PLACEHOLDER -->
          <p>Don't have an account? <a href="/login">Register</a>
            <input style="float:right" class="btn btn-primary" type="submit" value="Submit"> </p>
    </form>
  </div>
</main>
>>>>>>> fc6d6bcdbbfea1e64e76995c7271ad863eafaebe

<%- include ('../partials/footer') %>