<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container" style="width: 600px; margin: 50 auto">
    <form action="/login" method="post" style="margin-top:50px">
        <h2>Login</h2><br>
        <label for="username">Username </label>
        <input class="form-control" type="text" id="username" name="username"><br><br>
        <label for="password">Password </label>
        <input class="form-control" type="text" id="password" name="password"><br><br>
        <!-- <p>Don't have an account? <a href="/register">Register</a> -->
          <!-- FIX THIS LINE FOR REGISTER. PLACEHOLDER -->
          <p>Don't have an account? <a href="/login">Register</a>
            <input style="float:right" class="btn btn-primary" type="submit" value="Submit"> </p>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>