<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
<link rel = 'stylesheet' href ='../../resources/css/project.css'>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1 class = "logout">Logged Out!</h1>
    <img class = "logout-image" src = "../../resources/img/bye.gif">
    <p class = "space-between" style = "text-align: center;">Wanna log back in? <a href = "/login">Login</a></p>
  </div>
</main>

<%- include ('../partials/footer') %>