<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container" style="width:600px; margin:50 auto">
    <h2>Register Page</h2>
    <!-- <div class="col"><%- include ('../partials/message') %></div>
    <form action="/register" method="post" style="margin-top:50px">
        <h2>Register</h2><br>
        <label for="username">Username </label>
        <input class="form-control" type="text" id="username" name="username"><br><br>
        <label for="password">Password   </label>
        <input class="form-control" type="text" id="password" name="password"><br><br>
        <p>Already have an account? <a href="/login">Login</a>
            <input class="btn btn-primary" type="submit" value="Submit" style="float:right"> </p>
    </form> -->
  </div>
</main>

<%- include ('../partials/footer') %>