html, body {
    height: 100%;
    overflow-y:auto;
}
.space-between-cards{
    margin: 1.5em 0;
}
.checkboxes{
    float: left;
}
.cross-out{
    text-decoration: line-through;
}
#checkGrocery{
    float: right;
    margin-top: 0.4em
}
input[type=checkbox]:checked + label {
    text-decoration: line-through;
} /*This is the MDN spec for doing this*/
