<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">
            <span style="display:flex" >
                <img width="40px" height="40px" src="./logo.png">
                <h2 style="font-family:Lucida; color:#3cb371; font-weight:bold;"> Go Groceries!</h2>
            </span>
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class = "nav-link" href = "/">Groceries</a>
                <!-- TO-DO: For 'Home', Add a <a> tag with an attribute href to call the '/' API that navigates to home page if logged in, or login page if not -->
            </li>
            <li class="nav-item">
                <a class = "nav-link" href = "/login">Login</a>
                <!-- TO-DO: For 'My Courses', add a <a> tag with an attribute href to call the '/courses?taken=true' API that navigates to courses page, showing the courses the student has taken, if logged in, or login page if not -->
            </li>
            <li class = "nav-item">
              <a class = "nav-link" href = "/recipes">Recipes</a>
            </li>
        </ul>
    </nav>
</header>